#root {
  max-width: 35rem;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
}

/* ------------ COMPONENTS ------------------- */
/* Info */
.navbar {
  padding: 1.375rem 1.875rem;
  box-shadow: 0 2px 15px 2px rgba(229, 229, 229, 1);
}

.navbar__logo {
  height: 1.625rem;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero > img {
  max-width: 25rem;
  align-self: center;
}

.hero__info {
  text-align: start;
  line-height: 1.1;
  /* border: 1px solid red; */
}

.hero__info > p {
  margin: 1rem 0 0;
}

/* Card */
.card {
  padding: 0 2.25rem;
}

.card__main-img {
  max-width: 11rem;
  border-radius: 0.625rem;
}

.card__info {
  font-size: 0.75rem;
  padding: 0.5rem 0 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.info__rating {
  display: inherit;
  justify-content: start;
  align-items: center;
  gap: 0.125rem;
}

.info__rating > img {
  height: 0.875rem;
}

.rating__visitors,
.rating__country {
  color: rgba(145, 142, 155, 1);
}
