:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light;
  color: rgba(34, 34, 34, 1);
  background-color: rgba(229, 229, 229, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* RESET */
/* CSS Reset https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Make images easier to work with */
img {
  display: block;
  object-fit: cover;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

section {
  padding: 1.625rem 1.875rem;
}
